.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

./posts/projects/E5_coral/output/2025_05_16_timeseries_ML_feature_proximity/Apulchra-genome.stringtie.gtf
./posts/projects/E5_coral/output/2025_05_25_timeseries_ML_feature_proximity_2/Apulchra-genome.stringtie.gtf
./posts/projects/E5_coral/output/2025_05_27_timeseries_Apul_ID_genomic_regions/Apulcra-genome.gff